
$( document ).ready(function() {

$('#currentsign').html(app.sign)

  //
  // fake dataset
  //
  var dataset = createdataset()

  // 
  // render map
  //
  var datamap = new Datamap({
    element: document.getElementById('map_container'),
    data: dataset,
    projection: 'mercator', // big world map
    responsive: true,
    fills: { defaultFill: 'lightgray'},
    geographyConfig: {
      borderWidth: 1,
      borderColor: 'white',
      highlightOnHover: false
      // popupTemplate: function(geo, datamap) {
      //     if (!datamap) { return ; }
      //     return ['<div class="hoverinfo">',
      //         '<strong>', geo.properties.name, '</strong>',
      //         '<br>Count: <strong>', datamap.numberOfThings, '</strong>',
      //         '</div>'].join('');
      // }
    }


  })

  $(window).on('resize', function(){
    datamap.resize()
  })

})

function createdataset(){
    
    var series = []

    <% data.countryscope.countries.each do |iter| %>
      <% data.countryscope.countries[iter[0]].each do |country| %>
        series.push([
          '<%= data.country_codes["#{country[:place]}"] %>', app.affinity['<%= iter[0] %>'][app.sign]
        ])
      <% end %>
    <% end %>




    var dataset = {};

    var onlyValues = series.map(function(obj){ return obj[1]; });
    var minValue = Math.min.apply(null, onlyValues),
        maxValue = Math.max.apply(null, onlyValues);
    // create color palette function
    // color can be whatever you wish
    var paletteScale = d3.scale.linear()
            .domain([minValue,maxValue])
            .range(["#d3d3d3","#02386F"]); // blue color
    // fill dataset in appropriate format
    series.forEach(function(item){ //
        // item example value ["USA", 70]
        var  iso = item[0],
           value = item[1];
    dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value)  };
    });
    return dataset
}
