.worldmap
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  background-color: #34495e
  .map_container
    position: absolute
    width: 100%
    height: auto
    max-height: 100%
    margin: 2rem
    svg
      datamaps-subunits
        position: relative
    .place_group
      transform-origin: center center

.tools
  position: absolute
  top: 1rem
  width: 14rem
  height: auto
  bottom: 4rem
  &.left
    left: 1rem
  &.right
    right: 1rem
  .info_current_sign
    background-color: red
    display: flex
    height: 100%
    width: 100%
  .content_info_box
    position: relative
    height: 16rem
    margin: 1rem 0
    width: 100%
    &:after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: white
      opacity: .1
      top: 0
      left: 0
      right: 0
      bottom: 0
    svg
      position: absolute
      width: 100%
      height: 100%

  .currentsign
    font-size: 30px
    font-weight: bold
    color: #d3d3d3
  .othersigns
    .othersigns_item
      background-color: #a9b4bf
      border-radius: 50%
      width: 2rem
      height: 2rem
      margin: 8px 8px 0 0
      padding: 4px
      fill: #02386f
