.worldmap
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  background-color: lightgray
  .map_container
    position: absolute
    width: 100%
    height: auto
    max-height: 100%
    margin: 2rem
    svg
      datamaps-subunits
        position: relative
    .place_group
      transform-origin: center center

.tools
  position: absolute
  top: 1rem
  width: 10rem
  height: auto
  bottom: 4rem
  &.left
    left: 1rem
  &.right
    right: 1rem
