<div class="home" column center-center>
  <div class="wrap">
    <div class="lable" column center-center>
      <div>
        <span>
          No matter where you were born,<br>only the stars define where you belong.<br>All the
        </span>
        <span class="star_input" id="sign">
          star signs
          <div class="modal" id="modal">
            amedeo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore suscipit nemo numquam ad voluptate, necessitatibus, aliquam libero placeat quidem, itaque nisi expedita nobis quam consequatur veniam illo eveniet ducimus non.
          </div>
        </span>
        <span>
          share a place in the world.
        </span>
      </div>
      <div class="link_wrap">
        <div class="calltoaction">Find it on the map ></div>
        <div class="hover_effect"></div>
        <div class="hover_bg"></div>
      </div>
    </div>
  </div>
</div>
