<div class="home" column center-center>
  <div class="wrap">
    <div class="lable" center center-center>
      <div row center-center>
        Hi, insert your&nbsp
        <div class="birth_input" id="sign">sign</div>
      </div>
      <div class="oroscope" id="oroscope">
        <div id="oroscope_content"></div>
        <span class="link_to_map">
          <%= link_to 'see it in the map', "/#{I18n.locale}/worldmap" %>
          </span>
      </div>
    </div>
  </div>
</div>
