<script type="text/javascript">
  <% csv_data('Affinity_matchings_table').map.with_index do |x, i| %>
    app.affinity['<%= x[0] %>'] = {}
    <% x[1].each do |key, value| %>
      app.affinity['<%= x[0] %>']['<%= key %>'] = '<%= value %>'
    <% end %>
  <% end %>
</script>

<div class="home" column center-center>
  <div class="wrap">
    <div class="lable" column center-center>
      <div>
        <span>
          No matter where you were born,<br>only the stars define where you belong.<br>All the
        </span>
        <span class="star_input">
          <span class="sign" id="sign">star signs</span>
          <div class="modal" id="modal" column start-center>
            <div class="star_selection" id="star_selectio">
              aries
            </div>
            <div class="star_selection" id="star_selectio">
              taurus
            </div>
            <div class="star_selection" id="star_selectio">
              gemini
            </div>
            <div class="star_selection" id="star_selectio">
              cancer
            </div>
            <div class="star_selection" id="star_selectio">
              leo
            </div>
            <div class="star_selection" id="star_selectio">
              virgo
            </div>
            <div class="star_selection" id="star_selectio">
              libra
            </div>
            <div class="star_selection" id="star_selectio">
              scorpio
            </div>
            <div class="star_selection" id="star_selectio">
              sagittarius
            </div>
            <div class="star_selection" id="star_selectio">
              capricorn
            </div>
            <div class="star_selection" id="star_selectio">
              aquarius
            </div>
            <div class="star_selection" id="star_selectio">
              pisces
            </div>
  


          </div>
        </span>
        <span>
          share a place in the world.
        </span>
      </div>
      <div class="link_wrap">
        <div class="calltoaction">Find it on the map ></div>
        <div class="hover_effect"></div>
        <div class="hover_bg"></div>
      </div>
    </div>
  </div>
  <div class="bg_hover" id="bg_hover"></div>
</div>
