<br>
<br>
<div id="container" style="position: relative; width: 700px; height: 700px;"></div>
<h1>countries</h1>
<% data.countryscope.countries.each do |sign| %>
  <h2><%= sign[0] %></h2>
  <% sign[1].each do |pla| %>
    <br>
    <%= data.country_codes[pla[:place]] %>
    <b bdate="<%= pla[:date] %>"></b>
  <% end %>
<% end %>

