<div class="footer" row between-center>
  <div row center-center>
    <div class="logo" row center-center>
      IDENTYSIGN
    </div>
    <div class="footer_button about" row center-center>
      about 
    </div>
    <div class="footer_button source" row center-center>
      source
    </div>
  </div>
  <div class="footer_button credits" row center-center>
    credits
  </div>
</div>
